{:paths [],
 :mvn/repos
 {"central" {:url "https://repo1.maven.org/maven2/"},
  "clojars" {:url "https://clojars.org/repo"}},
 :deps
 {org.clojure/clojure {:mvn/version "1.11.1"},
  thheller/shadow-cljs {:mvn/version "2.20.5"},
  is.d0x/monorepo-tools {:local/root "./monorepo-tools"}},
 :install-deps true,
 :aliases
 {:district-ui-component-active-account-balance
  {:extra-deps
   {district0x/district-ui-component-active-account-balance
    {:local/root
     "browser/district-ui-component-active-account-balance"}},
   :extra-paths
   ["browser/district-ui-component-active-account-balance/test"]},
  :browser-all
  {:extra-deps
   {district0x/district-ui-component-active-account-balance
    {:local/root
     "browser/district-ui-component-active-account-balance"},
    district0x/district-ui-component-tx-button
    {:local/root "browser/district-ui-component-tx-button"},
    district0x/district-ui-reagent-render
    {:local/root "browser/district-ui-reagent-render"},
    district0x/district-ui-smart-contracts
    {:local/root "browser/district-ui-smart-contracts"}},
   :extra-paths
   ["browser/district-ui-smart-contracts/test"
    "browser/district-ui-reagent-render/test"
    "browser/district-ui-component-tx-button/test"
    "browser/district-ui-component-active-account-balance/test"]},
  :district-ui-component-tx-button
  {:extra-deps
   {district0x/district-ui-component-tx-button
    {:local/root "browser/district-ui-component-tx-button"}},
   :extra-paths ["browser/district-ui-component-tx-button/test"]},
  :district-ui-reagent-render
  {:extra-deps
   {district0x/district-ui-reagent-render
    {:local/root "browser/district-ui-reagent-render"}},
   :extra-paths ["browser/district-ui-reagent-render/test"]},
  :district-ui-smart-contracts
  {:extra-deps
   {district0x/district-ui-smart-contracts
    {:local/root "browser/district-ui-smart-contracts"}},
   :extra-paths ["browser/district-ui-smart-contracts/test"]}}}
