[{:created-at "2024-10-15T12:45:02.502733",
  :version "24.10.15",
  :description "district-server-web3-events: make callback-after-past-events configurable",
  :libs ["server/district-server-web3-events"],
  :updated-at "2024-10-15T12:45:02.502791"}
 {:created-at "2024-06-19T16:09:00.514147",
  :version "24.6.19",
  :description "Extend DB lib to support async calls",
  :libs ["server/district-server-db"
         "server/district-server-bundle"],
  :updated-at "2024-06-19T16:09:00.514549"}
 {:created-at "2024-02-29T00:25:30.200208",
  :version "24.2.29",
  :description "Fix skip log indexes when loading checkpoint from DB",
  :libs ["server/district-server-smart-contracts"],
  :updated-at "2024-02-29T00:25:30.200806"}
 {:created-at "2024-02-10T20:49:00.319395",
  :version "24.2.10",
  :description "Releasing all libraries with most recent code. Mainly to see if the cljs-web3-next websocket connection was caused due to out of date libray (as the evidence seems to indicate)",
  :libs
  ["server/district-server-config"
   "server/district-server-smart-contracts"
   "server/district-server-web3-watcher"
   "server/district-server-db"
   "server/district-server-web3-events"
   "server/district-server-bundle"
   "server/district-server-web3"
   "shared/district-validation"
   "shared/district-web3-utils"
   "shared/district-shared-bundle"
   "shared/district-sendgrid"
   "shared/cljs-web3-next"
   "shared/district-parsers"
   "shared/cljs-ipfs-http-client"
   "shared/cljs-solidity-sha3"
   "browser/district-ui-web3-tx-log"
   "browser/re-frame-web3-fx"
   "browser/district-ui-web3-chain"
   "browser/district-ui-web3-balances"
   "browser/district-ui-router"
   "browser/district-ui-web3-tx-log-core"
   "browser/district-ui-bundle"
   "browser/district-ui-component-active-account"
   "browser/district-ui-web3-account-balances"
   "browser/district-ui-web3-sync-now"
   "browser/district-ui-web3"
   "browser/district-ui-web3-tx"
   "browser/district-ui-component-active-account-balance"
   "browser/district-ui-web3-tx-costs"
   "browser/district-ui-reagent-render"
   "browser/re-frame-ipfs-fx"
   "browser/district-ui-web3-accounts"
   "browser/district-ui-component-tx-button"
   "browser/district-ui-smart-contracts"
   "browser/district-ui-web3-tx-id"],
  :updated-at "2024-02-07T20:49:20.820998"}
 {:created-at "2024-02-01T21:09:01.501055",
  :version "24.2.1",
  :description "Allow custom fn to store & load last-processed-block",
  :libs ["server/district-server-web3-events"],
  :updated-at "2024-02-01T21:09:01.501324"}
 {:created-at "2024-01-24T22:59:30.399074",
  :version "24.1.24",
  :description
  "Retrying deployment (failed CI build on the previous one)",
  :libs
  ["shared/district-shared-bundle"
   "shared/cljs-web3-next"
   "shared/cljs-ipfs-http-client"
   "browser/re-frame-web3-fx"
   "server/district-server-smart-contracts"
   "server/district-server-web3-events"
   "server/district-server-web3-watcher"
   "server/district-server-web3"],
  :updated-at "2024-01-24T23:04:49.497368"}
 {:created-at "2024-01-15T22:59:30.399074",
  :version "24.1.22",
  :description "Retrying deploy x3: cljs-web3-next connected? + some logging",
  :libs
  ["shared/district-shared-bundle"
   "shared/cljs-web3-next"
   "shared/cljs-ipfs-http-client"
   "browser/re-frame-web3-fx"
   "server/district-server-smart-contracts"
   "server/district-server-web3-events"
   "server/district-server-web3-watcher"
   "server/district-server-web3"],
  :updated-at "2024-01-15T23:04:49.497368"}
 {:created-at "2023-11-30T14:03:28.28578",
  :version "23.11.30",
  :description "Allow disabling connecting wallet on init",
  :libs
  ["browser/district-ui-bundle"
   "browser/district-ui-component-active-account"
   "browser/district-ui-component-active-account-balance"
   "browser/district-ui-component-tx-button"
   "browser/district-ui-smart-contracts"
   "browser/district-ui-web3-account-balances"
   "browser/district-ui-web3-tx-costs"
   "browser/district-ui-web3"
   "browser/district-ui-web3-balances"
   "browser/district-ui-web3-tx-log"
   "browser/district-ui-web3-chain"
   "browser/district-ui-web3-sync-now"
   "browser/district-ui-web3-accounts"
   "browser/district-ui-web3-tx-id"
   "browser/district-ui-web3-tx"
   "browser/district-ui-web3-tx-log-core"],
  :updated-at "2023-10-11T14:03:28.285983"}
 {:created-at "2023-10-13T23:14:39.974538",
  :version "23.10.13",
  :description "Support IPFS auth, respect :forwards-to for UI smart contracts",
  :libs
  ["server/district-server-smart-contracts"
   "server/district-server-bundle"
   "browser/district-ui-bundle"
   "browser/district-ui-smart-contracts"
   "shared/cljs-ipfs-http-client"
   "shared/district-shared-bundle"],
  :updated-at "2023-10-13T23:17:33.164316"}
 {:created-at "2023-10-06T11:54:02.598576",
  :version "23.10.6",
  :description "Avoid duplicated events",
  :libs
  ["browser/district-ui-web3-tx-costs"
   "browser/district-ui-web3-tx-log"
   "browser/district-ui-web3-tx-id"
   "browser/district-ui-web3-tx"
   "browser/district-ui-web3-tx-log-core"
   "browser/district-ui-bundle"],
  :updated-at "2023-10-06T11:54:02.598838"}
 {:created-at "2023-10-02T17:04:43.090523",
  :version "23.10.2",
  :description "improve switch chain error handling",
  :libs
  ["browser/district-ui-web3-chain"
   "browser/district-ui-bundle"],
  :updated-at "2023-10-02T17:04:43.090903"}
 {:created-at "2023-09-25T08:23:14.679113",
  :version "23.9.25",
  :description "Fix and improve sendgrid api request",
  :libs ["shared/district-sendgrid"],
  :updated-at "2023-09-25T08:23:14.67936"}
 {:created-at "2023-08-07T16:00:11.178403",
  :version "23.8.7",
  :description "Added missing dependencies",
  :libs
  ["browser/district-ui-bundle"
   "browser/district-ui-component-active-account"
   "browser/district-ui-component-active-account-balance"
   "browser/district-ui-component-tx-button"
   "browser/district-ui-smart-contracts"],
  :updated-at "2023-08-07T16:00:11.178403"}
 {:created-at "2023-08-07T09:43:15.122447",
  :version "23.8.7",
  :description
  "Allow disabling wallet unlock request (eth_requestAccounts) on init",
  :libs
  ["browser/district-ui-web3-account-balances"
   "browser/district-ui-web3-tx-costs"
   "browser/district-ui-web3"
   "browser/district-ui-web3-balances"
   "browser/district-ui-web3-tx-log"
   "browser/district-ui-web3-chain"
   "browser/district-ui-web3-sync-now"
   "browser/district-ui-web3-accounts"
   "browser/district-ui-web3-tx-id"
   "browser/district-ui-web3-tx"
   "browser/district-ui-web3-tx-log-core"],
  :updated-at "2023-08-07T09:43:15.122839"}
 {:created-at "2023-07-26T15:41:14.924371",
  :version "23.7.26",
  :description
  "Get most recent address after selected account changed",
  :libs
  ["browser/district-ui-bundle"
   "browser/district-ui-component-active-account"
   "browser/district-ui-component-active-account-balance"
   "browser/district-ui-component-tx-button"
   "browser/district-ui-web3-account-balances"
   "browser/district-ui-web3-accounts"
   "browser/district-ui-web3-tx-id"
   "browser/district-ui-web3-tx-log"],
  :updated-at "2023-07-26T15:41:14.924488"}
 {:created-at "2023-05-22T12:14:08.1815",
  :version "23.5.22",
  :description
  "Implements re-try if failed to retrieve smart contract events",
  :libs
  ["server/district-server-smart-contracts"
   "server/district-server-web3-events"
   "server/district-server-bundle"],
  :updated-at "2023-05-22T12:15:07.171711"}
 {:created-at "2023-05-03T16:55:29.204147",
  :version "23.5.3",
  :description "Allow invoking the 'receive' fallback function",
  :libs
  ["browser/district-ui-bundle"
   "browser/district-ui-component-active-account"
   "browser/district-ui-component-active-account-balance"
   "browser/district-ui-component-tx-button"
   "browser/district-ui-smart-contracts"
   "browser/district-ui-web3-account-balances"
   "browser/district-ui-web3-accounts"
   "browser/district-ui-web3-balances"
   "browser/district-ui-web3-chain"
   "browser/district-ui-web3-sync-now"
   "browser/district-ui-web3-tx"
   "browser/district-ui-web3-tx-costs"
   "browser/district-ui-web3-tx-id"
   "browser/district-ui-web3-tx-log"
   "browser/district-ui-web3-tx-log-core"
   "browser/re-frame-web3-fx"],
  :updated-at "2023-05-03T16:55:29.204631"}
 {:created-at "2023-04-07T11:20:35.825484",
  :version "23.4.7",
  :description "Migrate district-server-config to monorepo",
  :libs
  ["server/district-server-config"
   "server/district-server-db"
   "server/district-server-smart-contracts"
   "server/district-server-web3-events"
   "server/district-server-web3"],
  :updated-at "2023-04-07T11:20:35.826565"}
 {:created-at "2023-03-13T10:58:16.941441",
  :version "23.3.13",
  :description "Allow format options in db",
  :libs ["server/district-server-db"],
  :updated-at "2023-03-13T10:58:16.941842"}
 {:created-at "2023-03-01T15:42:46.624815",
  :version "23.3.1",
  :description "Minor fixes to cljs-web3-next",
  :libs ["shared/cljs-web3-next" "browser/district-ui-web3"],
  :updated-at "2023-03-01T15:42:46.625332"}
 {:created-at "2023-02-09T06:54:29.820472",
  :version "23.2.9",
  :description "Import 2 more libraries...",
  :libs
  ["shared/district-sendgrid"
   "browser/district-ui-router"
   "shared/district-shared-bundle"
   "browser/district-ui-bundle"],
  :updated-at "2023-02-09T06:54:50.63636"}
 {:created-at "2023-01-20T13:26:40.105215",
  :version "23.1.26",
  :description
  "Doing re-release of all libraries with the same date (shared-bundle was missing)",
  :libs
  ["shared/district-validation"
   "shared/district-web3-utils"
   "shared/district-shared-bundle"
   "shared/cljs-web3-next"
   "shared/district-parsers"
   "shared/cljs-ipfs-http-client"
   "shared/cljs-solidity-sha3"
   "server/district-server-smart-contracts"
   "server/district-server-web3-watcher"
   "server/district-server-db"
   "server/district-server-web3-events"
   "server/district-server-bundle"
   "server/district-server-web3"
   "browser/district-ui-web3-tx-log"
   "browser/re-frame-web3-fx"
   "browser/district-ui-web3-chain"
   "browser/district-ui-web3-balances"
   "browser/district-ui-web3-tx-log-core"
   "browser/district-ui-bundle"
   "browser/district-ui-component-active-account"
   "browser/district-ui-web3-account-balances"
   "browser/district-ui-web3-sync-now"
   "browser/district-ui-web3"
   "browser/district-ui-web3-tx"
   "browser/district-ui-component-active-account-balance"
   "browser/district-ui-web3-tx-costs"
   "browser/district-ui-reagent-render"
   "browser/re-frame-ipfs-fx"
   "browser/district-ui-web3-accounts"
   "browser/district-ui-component-tx-button"
   "browser/district-ui-smart-contracts"
   "browser/district-ui-web3-tx-id"],
  :updated-at "2023-01-20T13:27:01.359497"}
 {:created-at "2023-01-13T18:35:18.243688",
  :version "23.1.13",
  :description
  "Releasing ui-component-active-account and ipfs-fx 1st time",
  :libs
  ["browser/district-ui-component-active-account-balance"
   "browser/re-frame-ipfs-fx"],
  :updated-at "2023-01-13T18:35:36.857875"}
 {:created-at "2023-01-11 04:20:28",
  :version "23.1.10-SNAPSHOT",
  :description "placeholder X",
  :libs ["browser/re-frame-ipfs-fx"]}
 {:created-at "2022-12-21T05:07:08.659504",
  :version "23.1.10-SNAPSHOT",
  :description "Migrate 2 more libraries to monorepo",
  :libs ["shared/cljs-ipfs-http-client" "browser/re-frame-web3-fx"],
  :updated-at "2022-12-27T17:38:08.659682"}
 {:created-at "2022-12-20T09:47:52.823633",
  :version "23.1.6-SNAPSHOT",
  :description "Migrating more libs",
  :libs
  ["shared/district-web3-utils"
   "shared/district-validation"
   "shared/cljs-solidity-sha3"],
  :updated-at "2022-12-20T09:47:52.824039"}
 {:created-at "2022-12-19T08:18:53.422295",
  :version "22.12.19-SNAPSHOT",
  :description "First release district-parsers",
  :libs ["shared/district-parsers"],
  :updated-at "2022-12-19T08:18:53.427023"}
 {:created-at "2022-12-12T10:20:21.160478",
  :version "22.12.12-SNAPSHOT",
  :description "First release under is.d0x",
  :libs
  ["server/district-server-smart-contracts"
   "server/district-server-web3-watcher"
   "server/district-server-db"
   "server/district-server-web3-events"
   "server/district-server-bundle"
   "server/district-server-web3"
   "browser/district-ui-web3-tx-log"
   "browser/district-ui-web3-chain"
   "browser/district-ui-web3-balances"
   "browser/district-ui-web3-tx-log-core"
   "browser/district-ui-bundle"
   "browser/district-ui-web3-account-balances"
   "browser/district-ui-web3-sync-now"
   "browser/district-ui-web3"
   "browser/district-ui-web3-tx"
   "browser/district-ui-component-active-account-balance"
   "browser/district-ui-web3-tx-costs"
   "browser/district-ui-reagent-render"
   "browser/district-ui-web3-accounts"
   "browser/district-ui-component-tx-button"
   "browser/district-ui-smart-contracts"
   "browser/district-ui-web3-tx-id"
   "shared/district-shared-bundle"
   "shared/cljs-web3-next"],
  :updated-at "2022-12-12T10:20:38.959286"}
 {:created-at "2022-12-12T09:12:00.159372",
  :version "22.12.12-SNAPSHOT",
  :description "Relasing bundles and libraries in order",
  :libs
  ["server/district-server-smart-contracts"
   "server/district-server-web3-watcher"
   "server/district-server-db"
   "server/district-server-web3-events"
   "server/district-server-bundle"
   "server/district-server-web3"
   "browser/district-ui-web3-tx-log"
   "browser/district-ui-web3-chain"
   "browser/district-ui-web3-balances"
   "browser/district-ui-web3-tx-log-core"
   "browser/district-ui-bundle"
   "browser/district-ui-web3-account-balances"
   "browser/district-ui-web3-sync-now"
   "browser/district-ui-web3"
   "browser/district-ui-web3-tx"
   "browser/district-ui-component-active-account-balance"
   "browser/district-ui-web3-tx-costs"
   "browser/district-ui-reagent-render"
   "browser/district-ui-web3-accounts"
   "browser/district-ui-component-tx-button"
   "browser/district-ui-smart-contracts"
   "browser/district-ui-web3-tx-id"
   "shared/district-shared-bundle"
   "shared/cljs-web3-next"],
  :updated-at "2022-12-12T09:12:06.469302"}
 {:created-at "2022-12-10T16:20:54.208276",
  :version "22.12.9",
  :description "First release of the library bundles",
  :libs
  ["shared/district-shared-bundle"
   "server/district-server-bundle"
   "browser/district-ui-bundle"],
  :updated-at "2022-12-10T16:21:17.154928"}
 {:created-at "2022-12-09T17:59:46.389696",
  :version "22.12.9",
  :description
  "Release with deps.edn depending on libs from is.mad and aliases for local code",
  :libs
  ["server/district-server-smart-contracts"
   "server/district-server-web3-watcher"
   "server/district-server-db"
   "server/district-server-web3-events"
   "server/district-server-web3"
   "browser/district-ui-web3-tx-log"
   "browser/district-ui-web3-chain"
   "browser/district-ui-web3-balances"
   "browser/district-ui-web3-tx-log-core"
   "browser/district-ui-web3-account-balances"
   "browser/district-ui-web3-sync-now"
   "browser/district-ui-web3"
   "browser/district-ui-web3-tx"
   "browser/district-ui-component-active-account-balance"
   "browser/district-ui-web3-tx-costs"
   "browser/district-ui-reagent-render"
   "browser/district-ui-web3-accounts"
   "browser/district-ui-component-tx-button"
   "browser/district-ui-smart-contracts"
   "browser/district-ui-web3-tx-id"
   "shared/cljs-web3-next"],
  :updated-at "2022-12-09T18:00:18.306451"}
 {:created-at "2022-12-05T00:51:21.373701",
  :version "22.12.5",
  :description "First release of all libraries",
  :libs
  ["browser/district-ui-web3-tx-log"
   "browser/district-ui-web3-chain"
   "browser/district-ui-web3-balances"
   "browser/district-ui-web3-tx-log-core"
   "browser/district-ui-web3-account-balances"
   "browser/district-ui-web3-sync-now"
   "browser/district-ui-web3"
   "browser/district-ui-web3-tx"
   "browser/district-ui-component-active-account-balance"
   "browser/district-ui-web3-tx-costs"
   "browser/district-ui-reagent-render"
   "browser/district-ui-web3-accounts"
   "browser/district-ui-component-tx-button"
   "browser/district-ui-smart-contracts"
   "browser/district-ui-web3-tx-id"
   "server/district-server-smart-contracts"
   "server/district-server-web3-watcher"
   "server/district-server-db"
   "server/district-server-web3-events"
   "server/district-server-web3"
   "shared/cljs-web3-next"],
  :updated-at "2022-12-05T00:52:05.242473"}]
