<!DOCTYPE HTML>
<html lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>MemeFactory Email</title>

<!-- <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet"> -->
<!-- <script src="https://use.typekit.net/vwl3ovr.js"></script> -->
<!-- <script>try{Typekit.load({ async: true });}catch(e){}</script> -->

</head>

<body bgcolor="#f8f9fe" style="margin:0;">

  <!-- begin container table -->
  <table cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="#f8f9fe"><tr><td align="center">

        <!-- top bar -->

        <table cellpadding="0" cellspacing="0" border="0" width="100%">
          <tr>
            <td align="center">

	      <div style="width:100%; height: 110px; overflow: hidden; background:white url(https://marketing-image-production.s3.amazonaws.com/uploads/e9f4878cb41bbc8b1c04c9017f4e6b9c11196c0b49ea4d9e29797b5f13b52a2d92c876134ea79bbfc1a8d1a98e71d4634a9b9dc32722562d2fa0b0b4a6e6c3ea.jpg) center center no-repeat;"></div>
              <div style="height: 17px; background-color: #fff;"></div>

            </td>
          </tr>
        </table>

        <!-- end top bar -->

        <!-- center contents -->

        <table cellpadding="0" cellspacing="0" border="0" width="100%">
          <tr>
            <td align="center">

	      <div><img style="width:50px" src="https://marketing-image-production.s3.amazonaws.com/uploads/7c94c9335e7db634763cda638d920fa3fa36bb8e51779b2186ce96cdd310dd5e6bb2da6dbeeca5ea39ca0e97bb59eb3561e743b18ccf903e8809340bc7dfc5aa.png" alt="Meme Factory"></div>
	      <div><img src="https://marketing-image-production.s3.amazonaws.com/uploads/5ce31803458414e2c42824834478c0d81c333cd909d76fa90eb8b3e1e394d3ffe35b07283452bd6e6ef40fb2ddd09b94f30faadadb23be0fd08d9e90faf09c43.jpg" alt="Inspired by the work of Simon de la Rouviere and his Curation Markets design, the third district to be deployed to the district0x."></div>
              
              <div>
                <img src="https://marketing-image-production.s3.amazonaws.com/uploads/18fc9e64007ff90aeb63827ba5c9baead381f76d61e3fb985cdfca52e365f6aa2b9d71569a841e444a90ec796e1647b76ce38a0f3a8d362e67994202976ec297.jpg" style="display: block;">
              </div>
              
              <div style="width: 482px; height: 466px; padding: 15px 80px; background-image: url(https://marketing-image-production.s3.amazonaws.com/uploads/419460f0b318d445016dfe7df373767cf17e14d9d72117de406e2729be18df09b85b54506a8e8295a7fe36e8803d19f6eb16ecc492c8a4828820758bb42e489f.jpg);">
	        
                <h1 style="font-family: helvetica, sans-serif; font-size:32px; font-weight: 300; margin-bottom: 30px; text-align: left; color: #2e1f37;">:header</h1>
                <p style="font-family: helvetica, sans-serif; color: #305f81; font-size: 15px; text-align: left; line-height: 1.75;"><%body%></p>
                <a href=:button-href style="background-color: #ff0090; padding: 18px 45px; border-radius: 30px; display: inline-block; margin: 15px auto 0; color: #fff; font-family: helvetica, sans-serif; font-size: 20px; font-weight: 300; text-decoration: none;">:button-title</a>
	        
              </div>

            </td>
          </tr>
        </table>

        <!-- end center contents -->

        <!-- footer contents -->

        <table cellpadding="0" cellspacing="0" border="0" width="100%"><tr><td align="center">
              
              <div style="height: 50px; width: 100%; text-align: center;">
	        <img src="https://marketing-image-production.s3.amazonaws.com/uploads/5a6a4cd5cb8419f6c474f8386ae2c2d9ab89f43d50f807ee76f4f382b529c4582b03a44da19968aec53264359eef424071e7dd87e1c5fe730ebf01d867832f81.jpg" alt="district0x" style="display: inline-block;">
	        <a href="https://district0x.io/"><img src="https://marketing-image-production.s3.amazonaws.com/uploads/ca59b819d33d6b599f8722fe6a41c9415c5360e6720633c2bafde272845fcb7f45fa5aeb70a398087ec208342fbfcce22c74a7ef95205cfdaf122810eb79fd31.jpg" alt="districtnetwork" style="display: inline-block;"></a>
	        <a href=:unsubscribe-href><img src="https://marketing-image-production.s3.amazonaws.com/uploads/2b507d15d335018bb8c9a4e35e812bd10958e7ce30067e76f205403c1f94022e0446e12c36b4657de27214df492ef81f4b3e71156009a32235ce9c3922c90645.jpg" alt="unsubscribe" style="display: inline-block;"></a>

	        <a style="margin-left: 100px;" href="https://twitter.com/district0x"><img src="https://marketing-image-production.s3.amazonaws.com/uploads/693faafb42a6d2f968c8c50ba128ca59e0ab79664cb3589ddd8412bce2aa04d11facf7faf54c88ddb1a92ff3e38e8e39adb6eed3bbae5001523d00daab12887d.jpg" alt="twitter" style="display: inline-block;"></a>
	        <a href="https://blog.district0x.io/"><img src="https://marketing-image-production.s3.amazonaws.com/uploads/68c63222605e9638191e6229f77581a0c8dbf968b613d2550dc366ce3dff5b14c5aef5795a2a16ae8cb681a4cf697984698b71fac4a680f1ab05b1fe3bdef952.jpg" alt="medium" style="display: inline-block;"></a>
	        <a href="https://github.com/district0x"><img src="https://marketing-image-production.s3.amazonaws.com/uploads/8b3876af5a5630da213dd03ede3a4958d5f15715945730d0b6bc5b7e4efae04187908d7cb1f084283f9eee54299327546e7f2faba7a84cc12d3f92d8c0f5f776.jpg" alt="github" style="display: inline-block;"></a>
       	        
              </div>
              
            </td>
          </tr>

          <tr>
            <td style="height: 20px;">
            </td>
          </tr>
          
        </table>

        <!-- end footer contents -->

        <!-- end container table -->
      </td>
    </tr>
  </table>

</body>
</html>
