{:dev-http {6502 {:root "out/browser-tests" :host "d0x-vm"}}
 :nrepl {:port 30333}
 :deps {:aliases [:dev]}
 :builds
 {:test-node {:target :node-test
         :ns-regexp "tests.(.+)"
         :output-to "out/node-tests.js"
         :autorun false}
  :node-repl {:target :node-script :output-to "out/node-repl.js" :main repl-helper/main}
  :test-browser {:target :browser-test
                 :ns-regexp "tests.(.+)"
                 :test-dir "out/browser-tests"}
  :test-ci {:target :karma
            :ns-regexp "tests.(.+)"
            :output-to "out/karma-tests.js"}}}
