{:paths ["src" "test"],
 :mvn/repos
 {"central" {:url "https://repo1.maven.org/maven2/"},
  "clojars" {:url "https://clojars.org/repo"}},
 :deps
 {is.d0x/district-ui-web3-tx-costs {:mvn/version "LATEST"},
  is.d0x/district-ui-web3-tx-id {:mvn/version "LATEST"},
  is.d0x/district-ui-reagent-render {:mvn/version "LATEST"},
  is.d0x/district-ui-web3-account-balances {:mvn/version "LATEST"},
  is.d0x/district-ui-web3-accounts {:mvn/version "LATEST"},
  is.d0x/district-ui-web3-tx-log {:mvn/version "LATEST"},
  is.d0x/district-ui-component-tx-button {:mvn/version "LATEST"},
  is.d0x/district-ui-web3-chain {:mvn/version "LATEST"},
  is.d0x/district-ui-web3-tx {:mvn/version "LATEST"},
  is.d0x/district-ui-web3-tx-log-core {:mvn/version "LATEST"},
  is.d0x/district-ui-smart-contracts {:mvn/version "LATEST"},
  is.d0x/district-ui-component-active-account-balance
  {:mvn/version "LATEST"},
  is.d0x/district-ui-web3-sync-now {:mvn/version "LATEST"},
  is.d0x/district-ui-web3 {:mvn/version "LATEST"},
  is.d0x/district-ui-web3-balances {:mvn/version "LATEST"}},
 is.d0x/district-ui-component-active-account {:mvn/version "LATEST"},
 is.d0x/re-frame-ipfs-fx {:mvn/version "LATEST"},
 is.d0x/re-frame-web3-fx {:mvn/version "LATEST"},
 :aliases
 {:dev {:extra-deps {org.clojure/clojure {:mvn/version "1.11.1"}}},
  :local-deps
  {:override-deps
   {is.d0x/district-ui-web3-tx-costs
    {:local/root "../district-ui-web3-tx-costs"},
    is.d0x/district-ui-web3-tx-id
    {:local/root "../district-ui-web3-tx-id"},
    is.d0x/district-ui-reagent-render
    {:local/root "../district-ui-reagent-render"},
    is.d0x/district-ui-web3-account-balances
    {:local/root "../district-ui-web3-account-balances"},
    is.d0x/district-ui-web3-accounts
    {:local/root "../district-ui-web3-accounts"},
    is.d0x/district-ui-web3-tx-log
    {:local/root "../district-ui-web3-tx-log"},
    is.d0x/district-ui-component-tx-button
    {:local/root "../district-ui-component-tx-button"},
    is.d0x/district-ui-web3-chain
    {:local/root "../district-ui-web3-chain"},
    is.d0x/district-ui-web3-tx {:local/root "../district-ui-web3-tx"},
    is.d0x/district-ui-web3-tx-log-core
    {:local/root "../district-ui-web3-tx-log-core"},
    is.d0x/district-ui-smart-contracts
    {:local/root "../district-ui-smart-contracts"},
    is.d0x/district-ui-component-active-account-balance
    {:local/root "../district-ui-component-active-account-balance"},
    is.d0x/district-ui-web3-sync-now
    {:local/root "../district-ui-web3-sync-now"},
    is.d0x/district-ui-web3 {:local/root "../district-ui-web3"},
    is.d0x/district-ui-web3-balances
    {:local/root "../district-ui-web3-balances"}},
   is.d0x/re-frame-ipfs-fx {:local/root "../re-frame-ipfs-fx"},
   is.d0x/re-frame-web3-fx {:local/root "../re-frame-web3-fx"},
   is.d0x/district-ui-component-active-account
   {:mvn/version "../district-ui-component-active-account"}},
  :shadow-cljs
  {:extra-deps {thheller/shadow-cljs {:mvn/version "2.19.8"}},
   :main-opts ["-m" "shadow.cljs.devtools.cli"]}}}
