/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/.idea/
/district-server-web3-events.iml
/figwheel_server.log
/tests-compiled/
/node_modules/
resources/public/contracts/build
out
yarn-error.log
.shadow-cljs
.cpcache
Session.vim*
browser-tests-output
.shadow-cljs
web3-events-checkpoint.edn
