<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>MemeFactory Email</title>

    <style>
      .show {
        height: 435px !important;
        width: 290px !important;
      }
      .no-show {
        display: none;
      }
    </style>

  </head>

  <body style="min-width: 100%;
               background-color: #f8f9fe;
               margin: 0;">

    <!-- begin container table -->
    <table style="width:100%;" cellpadding="0" cellspacing="0">
      <!-- Top Header -->
      <tr style="width:100%;">
        <td class="header"
            style="width:100%;height:110px;overflow:hidden;background:white url(https://marketing-image-production.s3.amazonaws.com/uploads/1f21a1b75c5c2975f72356dd3903c3e6103c2bb51b76a9977c0c040fa5d4c5356df4ea8206c9e95395e832028285b67fb18594d9dadf83a8653b8ba8b5207874.jpg) left center no-repeat;">

        </td>
      </tr>
      <!-- Mini Memefactory Logo -->
      <tr class="main-content">
        <td style="text-align: center;">
          <img class="meme-logo"
               style="margin-top:1.0em;width:50px;text-align:center;"
               src="https://marketing-image-production.s3.amazonaws.com/uploads/7c94c9335e7db634763cda638d920fa3fa36bb8e51779b2186ce96cdd310dd5e6bb2da6dbeeca5ea39ca0e97bb59eb3561e743b18ccf903e8809340bc7dfc5aa.png"
               alt="Meme Factory"
               title="Meme Factory" />
        </td>
      </tr>
      <!-- Header Text Statement -->
      <tr>
        <td>
          <p class="header-text"
             style="position:relative;font-family:filson-soft,sans-serif;line-height:1.9em;width:65%;margin-right:auto;margin-left:auto;padding-top:1em;text-align:center;font-weight:lighter;font-size:14pt;color:#ff0094;">
            A decentralized registry and marketplace for the creation, exchange, and collection of provably rare digital assets.
          </p>
        </td>
      </tr>
      <!-- Start of Hero Block -->
      <tr>
        <td>
          <table style="min-width:320px;max-width:860px;margin-left:auto;margin-right:auto;background-color:white;text-align:center;overflow:hidden;border-radius:1em;-webkit-box-shadow:0px 2px 8px -5px rgba(45,45,45,1);-moz-box-shadow:0px 2px 8px -5px rgba(45,45,45,1);box-shadow:0px 2px 8px -5px rgba(45,45,45,1);" cellpadding="0" cellspacing="0">
            <!-- Hero Image Section -->
            <tr>
              <td>
                <img class="hero-header"
                     src="https://marketing-image-production.s3.amazonaws.com/uploads/04580e71043f6858af3bf935b610137263772c0c3de8e2dd4f337a3aa5c86d74ac17484aa4c9745da1d83d5b3ce3e8e75bd086c2ca773bd8885f48031eebb53a.jpg"
                     style="width:100%;" />
              </td>
            </tr>

            <!-- Hero Header  -->
            <tr class="hero-header"
                style="text-align:center;width:100%;height:50px;">
              <td>
                <h1 style="align-items:center;font-family:sans-serif,helvetica;font-size:2.5em;font-weight:300;color:#2e1f37;font-smooth:always;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;">
                  :header
                </h1>
              </td>
            </tr>

            <!-- Hero Body Content -->
            <tr class="hero-body-content" style="min-height:420px;">
              <td>
                <p class="body"
                   style="font-family:sans-serif,helvetica;color:#305f81;font-size:15px;text-align:left;line-height:1.75em;padding:2em;padding-left:3.5em;padding-right:3.5em;">
                  <%body%>
                </p>
              </td>
            </tr>

            <!-- Hero Meme Image -->
            <tr class="hero-meme-image" style="margin-left:auto;margin-right:auto;margin-top:0.5em;margin-bottom:0.5em;text-align:center;">
              <td>
                <a href=:button-href>
                  <img class=:meme-image-class
                       width="0" height="0"
                       style="border-radius:1em;height:435px;width:290px;padding:0.5em;"
                       src=:meme-image-url />
                </a>
              </td>
            <tr>
              <td>
                <a class="meme-button"
                   style="font-family:sans-serif,helvetica;background-color:#ff0090;margin-top:1em;margin-bottom:1em;padding:1em 2em;border-radius:30px;display:inline-block;color:#fff;font-size:20px;font-weight:300;text-decoration:none;"
                   href=:button-href>
                  :button-title
                </a>
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <tr style="">
        <td style="padding: 0;">
          <table cellpadding="0" cellspacing="0" style="width:100%;">
            <tr style="width: 100%;">
              <table cellpadding="0" cellspacing="0" style="width:100%">
                <tr style="width:100%">
                  <td class="left" style="width:20%;">
                    <img
                      style="padding-left:1.3em; height: 20px;"
                      src="https://marketing-image-production.s3.amazonaws.com/uploads/b128b8b8e81a27123d8812aae9d6f56dd78e389c332c4785c115eecc4ff449c603d2ab54bd75ddda4f3949c7420f8ccf9ea0cd96e7e3747711511bb2fc24c6bc.png"
                      alt="district0x">
                  </td>
                  <td class="right" style="width:80%; text-align:right; overflow:hidden; padding-right:0.5em;">
                    <a href="https://twitter.com/memefactory0x" style="display:inline-block;">
                      <img
                        src="https://marketing-image-production.s3.amazonaws.com/uploads/c15041017df5591432221b98cf8cfbc929dca2b080a495ebd2726eef7d7422d9cf85b7f315c2ce0e4675e5e7aedc8b942072eea590318537fedb45c7c7efb43f.png"
                        style="width: 34px; height: 34px; padding: 1.0em 0.5em;"
                        alt="twitter"/>
                    </a>

                    <a href="https://blog.district0x.io/" style="display:inline-block;">
                      <img src="https://marketing-image-production.s3.amazonaws.com/uploads/c7c2097c1a8bcf2fcc842c2d42ffe6ad00f7cca2670278a01fde2c6c168869654c4f5191c5ce5ef8a84e9149947db1df1729918d40358ed525a6c06255be0ded.png"
                           style="width: 34px; height: 34px; padding: 1.0em 0.5em;"
                           alt="medium"
                           >
                    </a>

                    <a href="https://github.com/district0x/memefactory" style="display:inline-block;">
                      <img src="https://marketing-image-production.s3.amazonaws.com/uploads/e7046797f07e89c9c4e2e70c758f8d948707dda58f69bd7557e84718fc02ad34bb6e40aaea43805db780ae377bda426427235150c483ee0a900562b4505535b5.png"
                           style="width: 34px; height: 34px; padding: 1.0em 0.5em;"
                           alt="github">
                    </a>
                  </td>
              </tr></table>
            </tr>
            <tr style="width:100%; padding: 0;">
              <table cellpadding="0" cellspacing="0" style="width:100%">
                <tr style="width:100%">
                  <td>
                    <a href="https://district0x.io/" style="padding-left:1em;">
                      <img
                        src="https://marketing-image-production.s3.amazonaws.com/uploads/1a9b41686d15805ca505353a39337a5a3e15a48110725412d1b20ac2ade4dcbe9c8793f1d49d5e43e2ed83f7b6cce4f3240d414987dadd95b2f7dd16e231e9a6.png"
                        style="height: 18px;"
                        alt="districtnetwork" >
                    </a>
                  </td>
              </tr></table>
            </tr>
            <tr>
              <td class="center" style="width:100%;">
                <a href=[unsubscribe-href] style="padding-left:0.7em;">
                  <img src="https://marketing-image-production.s3.amazonaws.com/uploads/38fd9f7f7d0ba460184c7ee4e5b265871a0af67cc1bbb9cdcaeb9ad02c2e9038203aede4a41c56bd26e0be2e45287ed2fa35101344c2f7a346b9a5805567a61b.png"
                       style="height: 12px; padding: 1.3em 0.55em"
                       alt="unsubscribe">
                </a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
